{% extends 'base.html' %}
{% load static %}

{% block content %}

<style>
	#waveform {
		width: 100%;
		/* max-width: 600px; */
		margin: 10px auto;
		background: transparent;
	}

	button {
		/* display: block;
    margin: 20px auto;
    padding: 10px 20px; */
		font-size: 16px;
		color: #fff;
	}
</style>

<body id="body" class="tt-transition tt-boxed tt-smooth-scroll tt-magic-cursor">


	<!-- *************************************
		*********** Begin body inner ************* 
		************************************** -->
	<main id="body-inner">



		<!-- *****************************************
			*********** Begin scroll container *********** 
			****************************************** -->
		<div id="scroll-container">

			{% include 'commons/nav.html' %}


			<!-- *************************************
				*********** Begin content wrap *********** 
				************************************** -->
			<div id="content-wrap">


				<div id="page-header"
					class="ph-full ph-cap-xxlg ph-center ph-image-cropped ph-image-cover-4 ph-content-parallax">
					<div class="page-header-inner tt-wrap">

						<div class="ph-caption">
							<h1 class="ph-caption-title ph-appear">LUMINARY</h1>
							<div class="ph-caption-title-ghost ph-appear">LUMINARY</div>
							<div class="ph-caption-subtitle ph-appear">
								<p>
									<strong><em style="color: #CE0808;">Luminary. n.</em></strong> /ˈluːmɪn(ə)ri/<span
										style="opacity: 0.7;"><br>1. A person who inspires or influences others,
										especially one prominent in a particular sphere. <br>
										2. A natural light-giving body, especially the sun or moon.
									</span>
								</p>
							</div>
						</div>
					</div>


					<a href="#page-content" class="scroll-down-circle" data-offset="30">
						<div class="sdc-inner ph-appear">
							<div class="sdc-icon"><i class="fas fa-chevron-down"></i></div>
							<svg viewBox="0 0 500 500">
								<defs>
									<path
										d="M50,250c0-110.5,89.5-200,200-200s200,89.5,200,200s-89.5,200-200,200S50,360.5,50,250"
										id="textcircle"></path>
								</defs>
								<text dy="30">
									<textPath xlink:href="#textcircle">Scroll down - Scroll down -</textPath>
								</text>
							</svg>
						</div>
					</a>
				</div>




				<div id="page-content">

					<div class="tt-section">
						<div class="tt-section-inner">

							<!-- Begin portfolio grid (works combined with tt-Ggrid!)
							========================== 
							* Use class "pgi-hover" to enable portfolio grid item hover effect (behavior depends on "ttgr-gap-*" classes below!).
							* Use class "pgi-cap-hover" to enable portfolio grid item caption hover effect (effect only with class "pgi-cap-inside"! Also no effect on mobile devices!).
							* Use class "pgi-cap-center" to position portfolio grid item caption to center.
							* Use class "pgi-cap-inside" to position portfolio grid item caption to inside.
							-->
							<div id="portfolio-grid" class="pgi-hover">

								<!-- Begin tt-Grid
								=================== 
								* Use class "ttgr-layout-2", "ttgr-layout-3", "ttgr-layout-4" to set grid layout (columns). No class = one column.
								* Use class "ttgr-layout-1-2", "ttgr-layout-2-1", "ttgr-layout-2-3", "ttgr-layout-3-2", "ttgr-layout-3-4" or "ttgr-layout-4-3" to set grid mixed layout (columns).
								* Use class "ttgr-layout-creative-1" or "ttgr-layout-creative-2" to set grid creative mixed layout (no effect with classes "ttgr-portrait", "ttgr-portrait-half", "ttgr-not-cropped" and "ttgr-shifted").
								* Use class "ttgr-portrait" or "ttgr-portrait-half" to enable portrait mode (no effect with classes "ttgr-layout-creative-1", "ttgr-layout-creative-2" and "ttgr-not-cropped").
								* Use class "ttgr-gap-1", "ttgr-gap-2", "ttgr-gap-3", "ttgr-gap-4", "ttgr-gap-5" or "ttgr-gap-6" to add space between items.
								* Use class "ttgr-not-cropped" to enable not cropped mode (effect only with classes "ttgr-layout-2", "ttgr-layout-3" and "ttgr-layout-4").
								* Use class "ttgr-shifted" to enable shifted layout (effect only with classes "ttgr-layout-2", "ttgr-layout-3" and "ttgr-layout-4").
								-->
								<div class="tt-grid ttgr-layout-3 ttgr-gap-1">

									<div class="tt-grid-top">

										<div class="tt-grid-categories-classic">

											<div class="ttgr-cat-classic-nav ttgr-cat-classic-center anim-fadeinup"
												style="">
												<ul class="ttgr-cat-classic-list">
													<li class="ttgr-cat-classic-item"><a href="#" class="active">Show
															All</a></li>
													<li class="ttgr-cat-classic-item"><a href="#"
															data-filter=".branding">Branding</a></li>
													<li class="ttgr-cat-classic-item"><a href="#"
															data-filter=".people">People</a></li>
													<li class="ttgr-cat-classic-item"><a href="#"
															data-filter=".nature">Nature</a></li>
													<li class="ttgr-cat-classic-item"><a href="#"
															data-filter=".creative">Creative</a></li>
												</ul>
											</div>
										</div>
									</div>


									<div class="tt-grid-items-wrap isotope-items-wrap"
										style="position: relative; height: 1301.39px;">


										<div class="tt-grid-item isotope-item people"
											style="position: absolute; left: 0%; top: 0px;">
											<div class="ttgr-item-inner">

												<!-- Begin portfolio grid item 
												===============================
												* Use class "pgi-image-is-light" if needed, it makes the caption visible better if you use light image (only effect if "pgi-cap-inside" is enabled on "portfolio-grid"! Also no effect on small screens!).
												-->
												<div class="portfolio-grid-item">
													<a href="single-project-1.html"
														class="pgi-image-wrap not-hide-cursor"
														data-cursor="View<br>Project">
														<!-- Use class "cover-opacity-*" to set image overlay if needed. For example "cover-opacity-2". Useful if class "pgi-cap-inside" is enabled on "portfolio-grid". Note: It is individual and depends on the image you use. More info about helper classes in file "helper.css". -->
														<div class="pgi-image-holder">
															<div class="anim-zoomin-wrap" style="overflow: hidden;">
																<div class="pgi-image-inner anim-zoomin" style="">
																	<figure class="pgi-image ttgr-height">
																		<img src="assets/img/portfolio/portfolio-1.jpg"
																			alt="image">
																	</figure> <!-- /.pgi-image -->
																</div>
															</div> <!-- /.pgi-image-inner -->
														</div> <!-- /.pgi-image-holder -->
													</a> <!-- /.pgi-image-wrap -->

													<div class="pgi-caption">
														<div class="pgi-caption-inner">
															<h2 class="pgi-title">
																<a href="single-project-1.html">Victorian Girls</a>
															</h2>
															<div class="pgi-categories-wrap">
																<div class="pgi-category">People</div>
																<!-- <div class="pgi-category">Varia</div> -->
															</div> <!-- /.pli-categories-wrap -->
														</div> <!-- /.pgi-caption-inner -->
													</div> <!-- /.pgi-caption -->
												</div>
												<!-- End portfolio grid item -->

											</div> <!-- /.ttgr-item-inner -->
										</div>

										<div class="tt-grid-item isotope-item creative"
											style="position: absolute; left: 33.332%; top: 0px;">
											<div class="ttgr-item-inner">

												<!-- Begin portfolio grid item 
												===============================
												* Use class "pgi-image-is-light" if needed, it makes the caption visible better if you use light image (only effect if "pgi-cap-inside" is enabled on "portfolio-grid"!).
												-->
												<div class="portfolio-grid-item">
													<a href="single-project-2.html"
														class="pgi-image-wrap not-hide-cursor"
														data-cursor="View<br>Project">
														<!-- Use class "cover-opacity-*" to set image overlay if needed. For example "cover-opacity-2". Useful if class "pgi-cap-inside" is enabled on "portfolio-grid". Note: It is individual and depends on the image you use. More info about helper classes in file "helper.css". -->
														<div class="pgi-image-holder">
															<div class="anim-zoomin-wrap" style="overflow: hidden;">
																<div class="pgi-image-inner anim-zoomin" style="">
																	<figure class="pgi-image ttgr-height">
																		<img src="assets/img/portfolio/portfolio-2.jpg"
																			alt="image">
																	</figure> <!-- /.pgi-image -->
																</div>
															</div> <!-- /.pgi-image-inner -->
														</div> <!-- /.pgi-image-holder -->
													</a> <!-- /.pgi-image-wrap -->

													<div class="pgi-caption">
														<div class="pgi-caption-inner">
															<h2 class="pgi-title">
																<a href="single-project-2.html">Smithy</a>
															</h2>
															<div class="pgi-categories-wrap">
																<div class="pgi-category">Creative</div>
																<!-- <div class="pgi-category">Varia</div> -->
															</div> <!-- /.pli-categories-wrap -->
														</div> <!-- /.pgi-caption-inner -->
													</div> <!-- /.pgi-caption -->
												</div>
												<!-- End portfolio grid item -->

											</div> <!-- /.ttgr-item-inner -->
										</div>

										<div class="tt-grid-item isotope-item people"
											style="position: absolute; left: 0%; top: 0px;">
											<div class="ttgr-item-inner">

												<!-- Begin portfolio grid item 
												===============================
												* Use class "pgi-image-is-light" if needed, it makes the caption visible better if you use light image (only effect if "pgi-cap-inside" is enabled on "portfolio-grid"! Also no effect on small screens!).
												-->
												<div class="portfolio-grid-item">
													<a href="single-project-1.html"
														class="pgi-image-wrap not-hide-cursor"
														data-cursor="View<br>Project">
														<!-- Use class "cover-opacity-*" to set image overlay if needed. For example "cover-opacity-2". Useful if class "pgi-cap-inside" is enabled on "portfolio-grid". Note: It is individual and depends on the image you use. More info about helper classes in file "helper.css". -->
														<div class="pgi-image-holder">
															<div class="anim-zoomin-wrap" style="overflow: hidden;">
																<div class="pgi-image-inner anim-zoomin" style="">
																	<figure class="pgi-image ttgr-height">
																		<img src="assets/img/portfolio/portfolio-1.jpg"
																			alt="image">
																	</figure> <!-- /.pgi-image -->
																</div>
															</div> <!-- /.pgi-image-inner -->
														</div> <!-- /.pgi-image-holder -->
													</a> <!-- /.pgi-image-wrap -->

													<div class="pgi-caption">
														<div class="pgi-caption-inner">
															<h2 class="pgi-title">
																<a href="single-project-1.html">Victorian Girls</a>
															</h2>
															<div class="pgi-categories-wrap">
																<div class="pgi-category">People</div>
																<!-- <div class="pgi-category">Varia</div> -->
															</div> <!-- /.pli-categories-wrap -->
														</div> <!-- /.pgi-caption-inner -->
													</div> <!-- /.pgi-caption -->
												</div>
												<!-- End portfolio grid item -->

											</div> <!-- /.ttgr-item-inner -->
										</div>

									</div>
								</div>
							</div>
						</div>



						<!-- SINGLE HOME POST -->
						<div class="tt-section">
							<div class="tt-section-inner tt-wrap">
								<div class="tt-row">
									<div class="tt-col-lg-12">
										{% include 'home/includes/single-post.html' %}
									</div>
								</div>
							</div>
						</div>

					</div>
					{% include 'commons/footer.html' %}
				</div>
			</div>


	</main>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/wavesurfer.js/7.8.3/wavesurfer.min.js"
		integrity="sha512-4ZT4pk8Hw8ofgCHWfDZOwRFeueV+1FlYM264zpUvn41d9jyE0xlnI2iQuUXt3+R1OoiyKWVt4UHUB95svzsKjg=="
		crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	<script>
		// Initialize Wavesurfer
		const wavesurfer = WaveSurfer.create({
			container: '#waveform',
			waveColor: '#CE0808', // Customize the color of the waveform
			progressColor: '#FFFFFF', // Customize the color of the progress
			height: 50, // Height of the waveform
			responsive: true,
		});

		// Load an audio file
		wavesurfer.load('static/audio/mirrors.mp3'); // Replace with your audio file path

		// Play/Pause button functionality
		document.getElementById('playPauseBtn').addEventListener('click', function () {
			wavesurfer.playPause();
		});

	</script>


	{% endblock %}