<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Luminary</title>
    <link rel="stylesheet" href="{% static 'css/normalize.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/fontawesome-all.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/swiper-bundle.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/lightgallery.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/helper.css' %}">
    <link rel="stylesheet" href="{% static 'css/theme.css' %}">
</head>

{% block content %}

{% endblock %}

<script src="{% static 'javascript/jquery.min.js' %}"></script>
<script src="{% static 'javascript/gsap.min.js' %}"></script>
<script src="{% static 'javascript/ScrollToPlugin.min.js' %}"></script>
<script src="{% static 'javascript/ScrollTrigger.min.js' %}"></script>
<script src="{% static 'javascript/smooth-scrollbar.js' %}"></script>
<script src="{% static 'javascript/swiper-bundle.min.js' %}"></script>
<script src="{% static 'javascript/imagesloaded.pkgd.min.js' %}"></script>
<script src="{% static 'javascript/isotope.pkgd.min.js' %}"></script>
<script src="{% static 'javascript/packery-mode.pkgd.min.js' %}"></script>
<script src="{% static 'javascript/lightgallery-all.min.js' %}"></script>
<script src="{% static 'javascript/jquery.mousewheel.min.js' %}"></script>
<script src="{% static 'javascript/theme.js' %}"></script>

</body>

</html>